.card__container {
  width: 100%;
  max-width: 250px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
  position: relative;
  padding: 0.3rem;
}
.card__container button {
  display: none;
  padding: 1vh;
  font-weight: 700;
  border: none;
  background-color: var(--primary-color);
  width: 100%;
  margin: 2vh 0;
  border-radius: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.card__container button:hover {
  background-color: var(--primary-shade);
}
.card__container:hover button {
  display: block;
}
.card__container .imgBox {
  aspect-ratio: 1 / 0.7;
  width: 100%;
  overflow: hidden;
}
.card__container h3 {
  font-size: 1rem;
}
.card__container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.rating {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}
.products__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  max-width: 1450px;
  justify-items: center;
  padding: 3rem 9rem;
  margin: 0 auto;
}

.product__flexed{
  display: flex;
  gap: 3rem;
  width: 100%;
  height: auto;
  box-shadow: none;
}
 .card__container.product__flexed {
  max-width: none;
   width: 80vw;   
}
.product__flexed h3{
  padding: 1rem 0 ;
}
.product__flexed button{
  display: block;
  position: static;
  width: 10rem;
}
.product__flexed .imgBox{
width: 30vw;
height: auto;
}

@media (max-width: 1200px) {
  .products__container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 992px) {
  .products__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .products__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .product__flexed {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .products__container {
    grid-template-columns: 1fr;
  }
}
