.category {
  width: 85%;
  aspect-ratio: 1 / 1;
  background: white;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
}
.category__imgBox {
  width: 100%;
  aspect-ratio: 1 / 0.7;
  overflow: hidden;
}
.category img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0 0.7rem;
}
.category h2,
.category p {
  padding: 0.5rem;
  margin-left: 0.2rem;
}
.category h2 {
  font-size: 1rem;
}
.category a {
  color: rgb(35, 35, 35);
}
.category p {
  color: rgb(9, 132, 209);
  font-weight: bold;
  font-size: small;
}

.category__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  position: relative;
  margin-top: -10%;
}
