.products__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  max-width: 1450px;
  justify-items: center;
  padding: 3rem 9rem;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .products__container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 992px) {
  .products__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .products__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .products__container {
    grid-template-columns: 1fr;
  }
}
